@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:10px;
    font-family:'Montserrat', sans-serif;
}

body,main {
    background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 40px;
    z-index: 1;
}
body ::after{
    content:"";
    position:absolute;
    left:0;
    top: 0;
    height: 200%;
    width: 200%;
    background-color: rgb(255 0 0 / 57%);
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.08;

}
main{
    text-align: center;
    background: white;
    
}