@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:10px;
    font-family:'Montserrat', sans-serif;
}

body,main {
    background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 40px;
    z-index: 1;
}
body ::after{
    content:"";
    position:absolute;
    left:0;
    top: 0;
    height: 200%;
    width: 200%;
    background-color: rgba(70, 7, 7, 0.253);
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.08;

}
.form-group ::placeholder{
    padding: 20px
}
.form-group p {
    font-weight: 500px;
    font-size: 16px;
    padding-bottom: 10px;
}
#surveyForm {
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 30px 30px 30px 30px;
    background: rgba(255, 255, 255, 0.8 );
}

#surveyForm .surveyFormTop{
    width: 800px;
    background-color: rgb(155, 20, 20);
    color: white;
    margin:auto;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.surveyFormTop p{
    font-size: 26px;
}
.surveyFormTop h2 {
    font-size:12px;
}
#surveyForm .mainForm{
    background-color: white;
    width:800px;
    margin:0 auto;
}

form{
    padding:10px;
}

.formLabel{
    font-size: 16px;
    margin-bottom: 30px;
    width: 125px;
    margin-left:25px;
}
.form-group {
    width:500px;
    margin-left: 20px;
    margin-bottom:30px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}
.checkBoxChoices{
    text-align: left;
}
.form-group .full-name, .e-mail ,.age{
    width: 200px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    height: 30px;
}

button {
    padding: 8px 16px;
}

.input-textarea {
    width:500px;
    height: 200px;
}

/*input[type="text"] {
    width:500px;
}
*.name {
    width: 700px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    height: 40px;

}
/*.name{
    position:relative;
    left:20px;
    line-height:10px;
    border-radius: 3px;
    padding: 0 50px;
    font-size: 16px;
}
