@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:10px;
    font-family:'Montserrat', sans-serif;
}

body {
    background-image: url(https://images.pexels.com/photos/2451645/pexels-photo-2451645.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

body::after {
    content:"";
    position:absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.8;
}